*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
#logo{
height: 150px;
width: 150px;
border-radius: 50%;
border: none;
}

.hading{
text-align: center;
font-size: 1.5rem;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.link{
text-decoration: none;
font-size: 1.2rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: aliceblue;
}

p{
font: size 7.5rem;
text-align: justify;

}
.ab{
border: dotted 6px white;
border-bottom: none;
width:70px ;
margin: 20px auto;

}



h2{
    font-size: 1.5rem;
    text-align: center;
}


[class*="col-"]{
float: left;
padding: 10px;
}

[class*="col-"]{
   width: 100%;
    }

.navbar{
background-color: cadetblue;
text-align: center;
padding: 1% 7%;
}

.navbar::after{
clear: both;
display: table;
content: '';
}

.navbar h1{
margin: 0%;
color: aliceblue;
padding: 2px;
}





.navbar-link{
display: flex;
flex-direction: column;
text-transform: uppercase;
}

.navbar-link a{
background-color: rgb(35, 77, 78);
color: rgb(255, 255, 255);
margin: 7px 5px;
padding: 10px;
border-radius: 10px;
}
.navbar-link a:hover{
background-color: azure;
color: black;
}


/* profile are kaj suru korlam in sha allha */
.forfile{
padding: 130px 10px;
text-align: center;
}

.profile-dec h1{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 3rem;
color: rgb(0, 0, 0);
}

.profile-dec h1:hover{
color: rgb(163, 66, 66);
background-color: beige;
border-radius: 25%;
width: 100%;
}
.profile-dec p{
color: rgb(179, 179, 163);
text-align: center;
width: 100%;

}

    
  

/* profile are kaj ses korlam */

/* about me are kaj suru korlam */
.abut-me{
text-align: center;
background-color: rgb(98, 146, 146);
padding:1% 7% ;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(255, 255, 255);

}

.abut-me::after{
clear: both;
display: table;
content: '';
}

.abimg img{
border: 5px solid white;
border-radius: 50%;
height:200px;
width:200px;
}

.abut-me p{
text-align: center;

}
.abut-me a{
font-size: 1.2rem;
text-decoration: none;
color: aliceblue;
}

.ab-deac{




}





/* about me are kaj suru korlam */